@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(./images/bg-pattern-desktop.svg);
}
.container{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    
}
.box{
  min-height: 100vh;
  min-width: 70vw;
  height: 100%;
  width: 100%; 
  justify-content: center;
}
.logo{

    background: url(./images/logo.svg);
    background-size: 100%;
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
    
    transform: translate(130px, 40px);
}
.diff{
  padding-top: 100px;
  color: hsl(0, 36%, 70%);
  font-weight: 300;
  margin-left: 130px;
  transform: translateY(-40px);
  font-size: 5rem;
  font-family: sans-serif;
  letter-spacing: 20px;
}
h1{
  color: black;
  margin-left: 130px;
  transform: translateY(-40px);;
  font-size: 5rem;
  font-family: sans-serif;
  letter-spacing: 10px;
}
p{
    color: hsl(0, 36%, 70%);
    white-space: initial;
    width: 55%;
    font-size: 16px;
    margin-left: 130px;
    
    font-weight: 500;
}
input{
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 30px 30px 30px 30px;
  background-color: rgba(0, 0, 0, 0.00);
  width: 500px;
  height: 60px;
  color: black;
  margin-top: 60px;
  margin-left: 130px; 
  font-size: 20px;
  padding-left: 30px;
  
}
 

.hero{
  background: url(./images/hero-desktop.jpg);  
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  width: 100vw;
  background-size: 90%;
  z-index: 2;
}
footer{
  bottom: 0px;
  
}
.attribution { 
  font-size: 11px; text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }
